:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 1.2rem;
  margin: 1rem;
}

button {
  font-size: medium;
  padding: 0.3rem 0.4rem;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
}

button:hover {
  border-color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
}

.compare-container {
  display: flex;
  width: 100%;
  column-gap: 2rem;
}

.divider {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group h4 {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

.input-group label {
  font-size: small;
}

.input-group input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.4rem 0.1rem;
  border: 1px solid gray;
  border-radius: 0.25rem;
}

.input-group input:focus {
  outline: none;
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.validation-message {
  display: block;
  color: #990000;
  min-height: 1.2rem;
  font-size: small;
  margin-bottom: 0.25rem;
}

.validation-message:last-of-type{
  margin-bottom: 0;
}

.validation-message[data-visible=false] {
  visibility: hidden;
}

.validation-message[data-visible=true] {
  visibility: visible;
}
