*.iml
.idea
.DS_STORE
.rpt2_cache
.eslintcache
TESTS-*.xml

packages/**/*.txt
**/node_modules
**/coverage
**/dist
**/*.tgz
/test/**/coverage
/build

**/debug.log
**/npm-debug.log
# npm <= 8.4.0 works with .npmrc in individual package
# so we used to have .npmrc with package-lock=false there
# npm >= 8.5.0 is deprecating this behavior, so we remove it
# to make it easy for application, probably add this
# so in the future, when we move to a higher level of npm, it won't break
package-lock.json

screenshots

*.code-workspace
test/benchmarking-apps/runner/cosmos.config.json

# Use the following directory to stash anything in the workspace, that you don't want to push to remote. For example: personal notes, todos etc.
/.ignored
**/.angular
**/webdriver-ts/results
**/webdriver-ts/traces

.turbo
