html, body, app, #app {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.control {
  float: left;
  vertical-align: top;
  width: 150px;
  height: 50px;
}
svg {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  pointer-events: none;
}
