<import from="../../resources/elements/article-list"></import>

<div class="home-page">

  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <au-nav name="home"></au-nav>
        </div>
        <article-list articles.bind="articles" total-pages.bind="totalPages" page-number.bind="pageNumber"
          current-page.bind="currentPage" set-page-cb.call="setPageTo(pageNumber)"></article-list>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="tag-list">
            <a repeat.for="tag of tags" href="#" class="tag-pill tag-default"
              click.delegate="setListTo('all', tag)">${tag}</a>
            <div if.bind="tags.length === 0">No tags are here... yet.</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
