:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 0.75rem;
}

.info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

details {
  padding: .5rem .5rem 0;
}

summary {
  font-weight: bold;
  margin: -.5rem -.5rem 0;
  padding: .5rem;
}

details[open] {
  padding: .5rem;
  border-bottom: 1px solid gray;
}

details[open] summary {
  border-bottom: 1px solid gray;
  margin-bottom: .5rem;
}

summary:focus {
  outline: none;
}
