version: 2.1

orbs:
  common: aurelia/common@volatile

# # # # # # # # # # # # # # # #
# - Scalar variables -
# # # # # # # # # # # # # # # #
scalar-1: &working_dir ~/repo

# # # # # # # # # # # # # # # #
# - Map variables -
# # # # # # # # # # # # # # # #
map-1: &filter_ignore_develop_release
  filters:
    branches:
      ignore:
        - develop
        - release

map-2: &filter_only_master
  filters:
    branches:
      only:
        - master

map-3: &filter_only_release
  filters:
    branches:
      only:
        - release

map-4: &filter_only_develop
  filters:
    branches:
      only:
        - develop

map-5: &filter_only_tag
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v[0-9]+(\.[0-9]+)*$/

# # # # # # # # # # # # # # # #
# - Executors -
# # # # # # # # # # # # # # # #
executors:

  docker-circleci:
    parameters:
      node:
        type: string
        default: "12.4.0"
    working_directory: *working_dir
    docker:
      - image: "circleci/node:<< parameters.node >>-stretch-browsers"

  docker-aurelia:
    working_directory: *working_dir
    docker:
      - image: "aureliaeffect/circleci-v2:latest"
# # # # # # # # # # # # # # # #
# - Commands -
# # # # # # # # # # # # # # # #
commands:

  checkout_install:
    steps:
      - checkout
      - run: npm ci --ignore-scripts

  checkout_install_bootstrap:
    steps:
      - checkout
      - run: npm ci --ignore-scripts
      - run: npm run bootstrap

  checkout_install_bootstrap_build_bundle_publish_verdaccio:
    parameters:
      from:
        type: string
      to:
        type: string
      channel:
        type: string
      suffix:
        type: string
        default: ""
      registry:
        type: string
        default: "http://localhost:4873"
    steps:
      - common/configure_git
      - checkout_install_bootstrap
      - run: npm run build
      - run: npm run bundle:all
      - clean_merge_commit_dist:
          from: << parameters.from >>
          to: << parameters.to >>
          channel: << parameters.channel >>
          suffix: << parameters.suffix >>
      - common/setup_verdaccio
      - run: npm run publish:<< parameters.channel >> -- << parameters.suffix >> << parameters.registry >>

  clean_merge_commit_dist:
    parameters:
      from:
        type: string
      to:
        type: string
      channel:
        type: string
      suffix:
        type: string
        default: ""
      message:
        type: string
        default: "chore(all): add latest build artifacts"
    steps:
      - run: ./node_modules/.bin/lerna clean -y
      - run: rm -rf packages/*/dist/build/**
      - run: git add packages/\*/dist/* --force && git status
      - run: git stash && git status
      - run: git checkout << parameters.to >> && git status
      - run: git reset --hard origin/<< parameters.to >> && git status
      - run: git merge << parameters.from >> --no-ff --no-edit -Xtheirs && git status
      - run: rm -rf packages/*/dist && git status
      - run: git add . && git status
      - run: git checkout stash -- . && git status
      - run: git add packages/\*/dist/* --force && git status
      - run: npm run change-package-refs:rollup
      - run: npm run bump-version:<< parameters.channel >> -- << parameters.suffix >>
      - run: git add . && git status
      - run: git commit --allow-empty -m "<< parameters.message >>" && git status

# # # # # # # # # # # # # # # #
# - Jobs -
# # # # # # # # # # # # # # # #
jobs:

  unit_test:
    parameters:
      coverage:
        type: boolean
        default: true
      npm_command:
        type: string
        default: "test"
      e:
        type: executor
    executor: << parameters.e >>
    steps:
      - checkout_install_bootstrap
      - run: npm run build
      - run:
          name: "Run unit tests"
          command: |
            cd packages/__tests__
            npm run << parameters.npm_command >>
      - when:
          condition: << parameters.coverage >>
          steps:
            - run:
                name: "Process coverage results for Code Climate"
                command: |
                  curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ~/cc-test-reporter && chmod +x ~/cc-test-reporter
                  ~/cc-test-reporter format-coverage packages/__tests__/coverage/lcov.info -t lcov -o packages/__tests__/coverage/cc-final.json
                  ~/cc-test-reporter upload-coverage -i packages/__tests__/coverage/cc-final.json
                environment:
                  CC_TEST_REPORTER_ID: 29ad19bd108faacbd91b36265a5b5e891b404571ebf937f40655157877aa71a1
                when: always
            - run:
                name: "Process coverage for Codecov"
                command: |
                  node_modules/codecov/bin/codecov -f packages/__tests__/coverage/coverage-final.json
                when: always
            - store_test_results:
                path: packages/__tests__/coverage
            - store_artifacts:
                path: packages/__tests__/coverage

  lint_packages:
    executor: docker-circleci
    steps:
      - checkout_install_bootstrap
      - run: npm run lint

  merge_and_dist:
    executor: docker-aurelia
    parameters:
      from:
        type: string
      to:
        type: string
      channel:
        type: string
    steps:
      - checkout_install_bootstrap
      - run: npm run build
      - run: npm run bundle:release
      - clean_merge_commit_dist:
          from: << parameters.from >>
          to: << parameters.to >>
          channel: << parameters.channel >>
      - run: git push origin << parameters.to >>

  e2e_browserstack:
    executor: docker-circleci
    steps:
      - checkout_install_bootstrap
      - run: npm run build
      - run:
          name: "Install e2e tests"
          command: |
            cd test/browserstack
            npm install
            npm run build
      - run:
          name: "Serve e2e app in the background"
          background: true
          command: |
            cd test/browserstack
            npm run start
      - run:
          name: "Run e2e tests"
          command: |
            cd test/browserstack
            npm run e2e

  e2e_cypress_doc_example:
    executor: docker-circleci
    steps:
      - checkout_install_bootstrap
      - run: npm run build
      - run:
          name: "Install cypress"
          command: |
            cd packages/router/test/e2e/doc-example
            npm install
      - run:
          name: "Install and build test app"
          command: |
            cd packages/router/test/e2e/doc-example/app
            npm install
            npm run build
      - run:
          name: "Serve test app in the background"
          background: true
          command: |
            cd packages/router/test/e2e/doc-example/app
            npm run serve
      - run:
          name: "Run e2e tests"
          command: |
            cd packages/router/test/e2e/doc-example
            npm run test

  publish_npm:
    executor: docker-aurelia
    parameters:
      channel:
        type: string
      branch:
        type: string
    steps:
      - checkout
      - run: git checkout << parameters.branch >>
      - run: git pull
      - run: npm ci --ignore-scripts
      - run:
          name: "Authenticate with registry"
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: npm run publish:<< parameters.channel >>

  # Standalone wdio test jobs
  e2e_wdio:
    executor: docker-circleci
    parameters:
      path:
        type: string
    steps:
      - checkout_install_bootstrap_build_bundle_publish_verdaccio:
          from: ${CIRCLE_BRANCH}
          to: develop
          channel: dev
          suffix: "-${CIRCLE_BUILD_NUM}"
      - run:
          name: "Install wdio"
          command: |
            cd test/wdio
            npm ci
      - run:
          name: "Install & build test app"
          command: |
            cd << parameters.path >>
            npm install
            npm run build
      - run:
          name: "Serve wdio test app"
          background: true
          command: |
            cd << parameters.path >>
            npm run serve
      - run:
          name: "Run wdio test"
          command: |
            cd test/wdio
            npm run test

# # # # # # # # # # # # # # # #
# - Workflows -
# # # # # # # # # # # # # # # #
workflows:
  # Runs build and tests
  # Triggered by push to master or topic branches
  build_test:
    jobs:
      - unit_test:
          <<: *filter_ignore_develop_release
          name: unit_test_chrome
          e: docker-circleci
          npm_command: "test-chrome"
      - unit_test:
         <<: *filter_ignore_develop_release
         name: unit_test_firefox
         e: docker-circleci
         npm_command: "test-firefox"
         coverage: false
      - unit_test:
         <<: *filter_ignore_develop_release
         name: unit_test_node
         e: docker-circleci
         npm_command: "test-node"
         coverage: false
      - lint_packages:
          <<: *filter_ignore_develop_release
      #- e2e_browserstack:
      #    <<: *filter_ignore_develop_release
      #- e2e_cypress_doc_example:
      #    <<: *filter_ignore_develop_release
      #- e2e_wdio:
      #    <<: *filter_ignore_develop_release
      #    name: jit-aurelia-cli-ts
      #    path: "examples/jit-aurelia-cli-ts"
      #    requires:
      #      - lint_packages # not a real requirement but forces long-running jobs to go first
      #- e2e_wdio:
      #    <<: *filter_ignore_develop_release
      #    name: jit-fuse-box-ts
      #    path: "examples/jit-fuse-box-ts"
      #    requires:
      #      - lint_packages # not a real requirement but forces long-running jobs to go first
      #- e2e_wdio:
      #    <<: *filter_ignore_develop_release
      #    name: jit-webpack-ts
      #    path: "examples/jit-webpack-ts"
      #    requires:
      #      - lint_packages # not a real requirement but forces long-running jobs to go first
      #- e2e_wdio:
      #    <<: *filter_ignore_develop_release
      #    name: jit-parcel-ts
      #    path: "examples/jit-parcel-ts"
      #    requires:
      #      - lint_packages # not a real requirement but forces long-running jobs to go first
      #- e2e_wdio:
      #    <<: *filter_ignore_develop_release
      #    name: jit-iife-inline
      #    path: "examples/jit-iife-inline"
      #    requires:
      #      - lint_packages # not a real requirement but forces long-running jobs to go first
      - merge_and_dist:
          <<: *filter_only_master
          requires:
            - unit_test_chrome
            - unit_test_firefox
            - unit_test_node
            - lint_packages
            #- e2e_browserstack
            #- e2e_cypress_doc_example
            #- jit-aurelia-cli-ts
            #- jit-fuse-box-ts
            #- jit-webpack-ts
            #- jit-parcel-ts
            #- jit-iife-inline
          from: master
          to: develop
          channel: dev

  # Runs build and tests, and pushes the built artifacts to the release branch (which then triggers publish_latest)
  # Triggered by push to tag
  build_test_push_release:
    jobs:
      - unit_test:
          <<: *filter_only_tag
          name: unit_test_chrome
          e: docker-circleci
      - unit_test:
         <<: *filter_only_tag
         name: unit_test_firefox
         e: docker-circleci
         npm_command: "test-firefox"
         coverage: false
      - unit_test:
         <<: *filter_only_tag
         name: unit_test_node
         e: docker-circleci
         npm_command: "test-node"
         coverage: false
      - lint_packages:
          <<: *filter_only_tag
      #- e2e_browserstack:
      #    <<: *filter_only_tag
      #- e2e_cypress_doc_example:
      #    <<: *filter_only_tag
      - merge_and_dist:
          <<: *filter_only_tag
          requires:
            - unit_test_chrome
            - unit_test_firefox
            - unit_test_node
            - lint_packages
            #- e2e_browserstack
            #- e2e_cypress_doc_example
          from: $CIRCLE_TAG
          to: release
          channel: latest

  # Asks for manual approval and then publishes from the release branch to npm@latest
  # Triggered by push to release branch
  publish_latest:
    jobs:
      # artifacts are already prepared and committed by the tag workflow, so only approval + publish remains
      - request_publish_latest:
          <<: *filter_only_release
          type: approval
      - publish_npm:
          <<: *filter_only_release
          requires:
            - request_publish_latest
          channel: latest
          branch: release

  # Runs build and tests, and pushes the built artifacts to the develop branch (which then triggers publish_dev)
  # Triggered by schedule once per day on 0:00 UTC on the master branch
  build_test_push_dev:
    triggers:
      - schedule:
          <<: *filter_only_master
          cron: "0 5 * * *"
    jobs:
      # this merge_and_dist is only to ensure the correct version in develop branch
      - merge_and_dist:
          from: master
          to: develop
          channel: dev
      - publish_npm:
          channel: dev
          branch: develop
          requires:
            - merge_and_dist
