version: 2.1

orbs:
  common: aurelia/common@volatile

# # # # # # # # # # # # # # # #
# - Scalar variables -
# # # # # # # # # # # # # # # #
scalar-1: &working_dir ~/repo

# # # # # # # # # # # # # # # #
# - Map variables -
# # # # # # # # # # # # # # # #
map-1: &filter_ignore_develop_release
  filters:
    branches:
      ignore:
        - develop
        - release

map-2: &filter_only_master
  filters:
    branches:
      only:
        - master

map-3: &filter_only_release
  filters:
    branches:
      only:
        - release

map-4: &filter_only_develop
  filters:
    branches:
      only:
        - develop

map-5: &filter_only_tag
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v[0-9]+(\.[0-9]+)*(-[\w]+\.[0-9]+)?$/

map-6: &filter_only_topic
  filters:
    branches:
      ignore:
        - master
        - develop
        - release
    tags:
      ignore: /.*/

# # # # # # # # # # # # # # # #
# - Executors -
# # # # # # # # # # # # # # # #
executors:

  docker-circleci:
    parameters:
      node:
        type: string
        default: "15.4.0"
    working_directory: *working_dir
    docker:
      - image: "circleci/node:<< parameters.node >>-buster-browsers"

# # # # # # # # # # # # # # # #
# - Commands -
# # # # # # # # # # # # # # # #
commands:

  checkout_install:
    steps:
      - checkout
      - run: echo 'export PREFERRED_WORKSPACE_MANAGER=yarn' >> $BASH_ENV
      - run: npm ci

  checkout_install_build_bundle_publish_verdaccio:
    parameters:
      from:
        type: string
      to:
        type: string
      channel:
        type: string
      suffix:
        type: string
        default: ""
      registry:
        type: string
        default: "http://localhost:4873"
    steps:
      - common/configure_git
      - checkout_install
      - run: npm run build:release
      # - run: npm run change-tsconfigs:invert
      # - run: npm run build:release
      # - run: npm run change-tsconfigs:restore
      - run: npm run generate-native-modules
      - clean_merge_commit_dist:
          from: << parameters.from >>
          to: << parameters.to >>
          channel: << parameters.channel >>
          suffix: << parameters.suffix >>
      - common/setup_verdaccio
      - run: npm config set registry << parameters.registry >>
      - run: npm run publish:<< parameters.channel >>

  clean_merge_commit_dist:
    parameters:
      from:
        type: string
      to:
        type: string
      channel:
        type: string
      suffix:
        type: string
        default: ""
      message:
        type: string
        default: "chore(all): add latest build artifacts"
      merge_topic:
        type: boolean
        default: true
      bump_version:
        type: boolean
        default: true
    steps:
      - run: set -o pipefail && git add packages/*/dist packages-cjs/*/dist --force && git status
      - run: set -o pipefail && git stash && git status
      - when:
          condition: << parameters.merge_topic >>
          steps:
            - run: set -o pipefail && git checkout << parameters.from >> && git status
            - run: set -o pipefail && git merge ${CIRCLE_BRANCH}
      - run: set -o pipefail && git checkout << parameters.to >> && git status
      - run: set -o pipefail && git reset --hard origin/<< parameters.to >> && git status
      - run: set -o pipefail && git merge << parameters.from >> --no-ff --no-edit -Xtheirs && git status
      - run: set -o pipefail && rm -rf packages/*/dist packages-cjs/*/dist && git status
      - run: set -o pipefail && git add . && git status
      - run: set -o pipefail && git checkout stash -- . && git status
      - run: set -o pipefail && git add packages/*/dist packages-cjs/*/dist --force && git status
      - run: set -o pipefail && npm run change-package-refs:release -- none
      - when:
          condition: << parameters.bump_version >>
          steps:
            - run: set -o pipefail && npm run bump-version:<< parameters.channel >> -- << parameters.suffix >>
      - run: set -o pipefail && git add . && git status
      - run: set -o pipefail && git commit --allow-empty -m "<< parameters.message >>" && git status

# # # # # # # # # # # # # # # #
# - Jobs -
# # # # # # # # # # # # # # # #
jobs:

  unit_test_esm:
    parameters:
      coverage:
        type: boolean
        default: true
      npm_command:
        type: string
        default: "test"
    executor: docker-circleci
    steps:
      - checkout_install
      - run: npm run build:test
      - run:
          name: "Run unit tests"
          command: |
            cd packages/__tests__
            npm run << parameters.npm_command >>

      - when:
          condition: << parameters.coverage >>
          steps:
            - run:
                name: "Process coverage for Codecov"
                command: |
                  node_modules/codecov/bin/codecov -f packages/__tests__/coverage/coverage-final.json
                when: always
            - store_test_results:
                path: packages/__tests__/coverage
            - store_artifacts:
                path: packages/__tests__/coverage

  unit_test_cjs:
    parameters:
      npm_command:
        type: string
        default: "test"
      submodules:
        type: boolean
        default: false
    executor: docker-circleci
    steps:
      - checkout_install
      - run: npm run build
      - run: npm run change-tsconfigs:invert
      - run: npm run build
      - run: npm run change-tsconfigs:restore
      - run: npm run change-package-refs:release -- none
      - when:
          condition: << parameters.submodules >>
          steps:
            - run:
                name: "Pull Submodules"
                command: |
                  git submodule init
                  git submodule update --remote
      - run:
          name: "Run unit tests"
          command: |
            cd packages-cjs/__tests__
            npm run << parameters.npm_command >>

  lint_packages:
    executor: docker-circleci
    steps:
      - checkout_install
      - run: npm run build
      - run: npm run lint:packages:ci
      - run: npm run lint:other:ci

  merge_and_dist:
    executor: docker-circleci
    parameters:
      from:
        type: string
      to:
        type: string
      channel:
        type: string
      push:
        type: boolean
        default: false
      merge_topic:
        type: boolean
        default: true
      bump_version:
        type: boolean
        default: true
      dist_file_name:
        type: string
        default: dist
    steps:
      - run: git config --global user.email "aurelia@bluespire.com"
      - run: git config --global user.name "AureliaEffect"
      - run: git config --global core.mergeoptions "--no-edit"
      - checkout_install
      - run: set -o pipefail && npm run build:release
      # - run: set -o pipefail && npm run change-tsconfigs:invert
      # - run: set -o pipefail && npm run build:release
      # - run: set -o pipefail && npm run change-tsconfigs:restore
      - run: set -o pipefail && npm run generate-native-modules
      - clean_merge_commit_dist:
          from: << parameters.from >>
          to: << parameters.to >>
          channel: << parameters.channel >>
          merge_topic: << parameters.merge_topic >>
          bump_version: << parameters.bump_version >>
      - when:
          condition: << parameters.push >>
          steps:
            - run: git push origin << parameters.to >>
      - run: zip -r << parameters.dist_file_name >>.zip packages/*/dist packages/*/package.json
      - store_artifacts:
          path: << parameters.dist_file_name >>.zip
          destination: << parameters.dist_file_name >>.zip

  publish_npm:
    executor: docker-circleci
    parameters:
      channel:
        type: string
      branch:
        type: string
      swap:
        type: boolean
        default: false
    steps:
      - checkout
      - when:
          condition: << parameters.swap >>
          steps:
            - run: git checkout << parameters.branch >>
            - run: git pull
      - run:
          name: "Authenticate with registry"
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: npm run publish:<< parameters.channel >>

  # Standalone playwright test jobs
  e2e_playwright:
    executor: docker-circleci
    parameters:
      path:
        type: string
      suite:
        type: string
        default: "examples"
      use_verdaccio:
        type: boolean
        default: true
      registry:
        type: string
        default: "http://localhost:4873"
    steps:
      - checkout_install_build_bundle_publish_verdaccio:
          from: ${CIRCLE_BRANCH}
          to: develop
          channel: dev
          suffix: "-${CIRCLE_BUILD_NUM}"
      - run:
          name: "Install playwright"
          command: |
            cd test/playwright
            npm ci
      - when:
          condition: << parameters.use_verdaccio >>
          steps:
            - run:
                name: "Install app via verdaccio"
                command: |
                  cd << parameters.path >>
                  npm i --registry << parameters.registry >>
      - unless:
          condition: << parameters.use_verdaccio >>
          steps:
            - run:
                name: "Install app via npm"
                command: |
                  cd << parameters.path >>
                  npm i
      - run:
          name: "Build test app"
          command: |
            cd << parameters.path >>
            npm run build
      - run:
          name: "Serve playwright test app"
          background: true
          command: |
            cd << parameters.path >>
            npm run serve
      - run:
          name: "Run playwright test"
          command: |
            cd test/playwright
            npm run build
            npm run e2e:<< parameters.suite >>

  # benchmark using playwright setup
  benchmark_playwright:
    executor: docker-circleci
    steps:
      - checkout
      - run: git checkout master
      - run: CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
      - run: npm ci
      - run: npm run build
      - run:
          name: "Prepare cosmos db configuration and run test for the master branch"
          # TODO(Sayan): remove the duplication of config, which was done for backward compatibility, and can be removed once PR #1094 is merged with master.
          command: |
            cd test/benchmarking-apps/runner
            echo "{\"cosmosEndpoint\": \"https://aurelia.documents.azure.com:443/\",\"cosmosKey\": \"$AZURE_COSMOS_DB_KEY\", \"endpoint\": \"https://aurelia.documents.azure.com:443/\",\"key\": \"$AZURE_COSMOS_DB_KEY\"}" > cosmos.config.json
            set -o pipefail && node dist/run-benchmarks --i 2 --storage json
      - run: cd ../../../
      - checkout_install
      - run: npm run build
      - run:
          name: "Run test for the current branch"
          command: |
            cd test/benchmarking-apps/runner
            set -o pipefail && node dist/run-benchmarks --i 2 --storage json
      # source: https://support.circleci.com/hc/en-us/articles/360048170573-Auto-comment-on-GitHub-Pull-Requests
      # - run:
      #     name: Post benchmarking comparison link to GitHub PR
      #     command: |
      #       sudo apt-get install jq

      #       pr_response=$(curl --location --request GET "https://api.github.com/repos/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/pulls?head=$CIRCLE_PROJECT_USERNAME:$CIRCLE_BRANCH" -H "Authorization: token $GITHUB_TOKEN")

      #       if [ $(echo $pr_response | jq length) -eq 0 ]; then
      #         echo "No PR found to update"
      #       else
      #         pr_comment_url=$(echo $pr_response | jq -r ".[]._links.comments.href")

      #         git checkout master
      #         master_commit=$(git rev-parse HEAD)

      #         comparison_url="https://au2-bench-viewer.azurewebsites.net/compare?branch=master&commit=$master_commit&branch=$CIRCLE_BRANCH&commit=$CIRCLE_SHA1"
      #         curl --location --request POST "$pr_comment_url" \
      #         -H 'Content-Type: application/json' \
      #         -H "Authorization: token $GITHUB_TOKEN" \
      #         --data-raw "{
      #         \"body\": \"The benchmarking comparison can be found here: $comparison_url\"
      #         }"
      #       fi

# # # # # # # # # # # # # # # #
# - Workflows -
# # # # # # # # # # # # # # # #
workflows:
  # Runs build and tests
  # Triggered by push to master or topic branches
  build_test:
    jobs:
      - unit_test_esm:
          <<: *filter_ignore_develop_release
          name: unit_test_esm_chrome
          npm_command: "test-chrome"
      - unit_test_esm:
         <<: *filter_ignore_develop_release
         name: unit_test_esm_firefox
         npm_command: "test-firefox"
         coverage: false
      - unit_test_esm:
         <<: *filter_ignore_develop_release
         name: unit_test_esm_node
         npm_command: "test-node"
         coverage: false
      - unit_test_cjs:
         <<: *filter_ignore_develop_release
         npm_command: "test-node"
      #- unit_test:
      #   <<: *filter_ignore_develop_release
      #   name: test_test262
      #   npm_command: "test-262"
      #   coverage: false
      #   submodules: true
      - lint_packages:
          <<: *filter_ignore_develop_release
      - benchmark_playwright:
          <<: *filter_ignore_develop_release
      - e2e_playwright:
          <<: *filter_ignore_develop_release
          name: jit-webpack-conventions-ts
          path: "examples/jit-webpack-conventions-ts"
          requires:
            - lint_packages # not a real requirement but forces long-running jobs to go first
      - e2e_playwright:
          <<: *filter_ignore_develop_release
          name: jit-webpack-vanilla-ts
          path: "examples/jit-webpack-vanilla-ts"
          requires:
            - lint_packages # not a real requirement but forces long-running jobs to go first
      - merge_and_dist:
          <<: *filter_only_master
          name: merge_and_dist_master
          requires:
            - unit_test_esm_chrome
            - unit_test_esm_firefox
            - unit_test_esm_node
            - unit_test_cjs
            #- test_test262
            - lint_packages
            - jit-webpack-conventions-ts
            - jit-webpack-vanilla-ts
          from: master
          to: develop
          channel: dev
          push: true
          merge_topic: false
      - merge_and_dist:
          <<: *filter_only_topic
          name: merge_and_dist_topic
          requires:
            - unit_test_esm_chrome
            - unit_test_esm_firefox
            - unit_test_esm_node
            - unit_test_cjs
            - lint_packages
            - jit-webpack-conventions-ts
            - jit-webpack-vanilla-ts
          from: master
          to: develop
          channel: dev
          dist_file_name: merge_and_dist_topic
      - publish_npm:
          <<: *filter_only_master
          channel: dev
          branch: develop
          swap: true
          requires:
            - merge_and_dist_master

  # Runs build and tests, and pushes the built artifacts to the release branch (which then triggers publish_latest)
  # Triggered by push to tag
  build_test_push_release:
    jobs:
      - unit_test_esm:
          <<: *filter_only_tag
          name: unit_test_esm_chrome
          npm_command: "test-chrome"
      - unit_test_esm:
         <<: *filter_only_tag
         name: unit_test_esm_firefox
         npm_command: "test-firefox"
         coverage: false
      - unit_test_esm:
         <<: *filter_only_tag
         name: unit_test_esm_node
         npm_command: "test-node"
         coverage: false
      - unit_test_cjs:
         <<: *filter_only_tag
         npm_command: "test-node"
      #- unit_test:
      #   <<: *filter_only_tag
      #   name: test_test262
      #   npm_command: "test-262"
      #   coverage: false
      #   submodules: true
      - lint_packages:
          <<: *filter_only_tag
      - merge_and_dist:
          <<: *filter_only_tag
          requires:
            - unit_test_esm_chrome
            - unit_test_esm_firefox
            - unit_test_esm_node
            - unit_test_cjs
            #- test_test262
            - lint_packages
          from: $CIRCLE_TAG
          to: release
          channel: latest
          push: true
          merge_topic: false
          bump_version: false

  # Asks for manual approval and then publishes from the release branch to npm@latest
  # Triggered by push to release branch
  publish_latest:
    jobs:
      # artifacts are already prepared and committed by the tag workflow, so only approval + publish remains
      - request_publish_latest:
          <<: *filter_only_release
          type: approval
      - publish_npm:
          <<: *filter_only_release
          channel: latest
          branch: release
          requires:
            - request_publish_latest
