version: 2.1

orbs:
  common: aurelia/common@volatile

# # # # # # # # # # # # # # # #
# - Scalar variables -
# # # # # # # # # # # # # # # #
scalar-1: &working_dir ~/repo

# # # # # # # # # # # # # # # #
# - Map variables -
# # # # # # # # # # # # # # # #
map-1: &filter_ignore_develop_release
  filters:
    branches:
      ignore:
        - develop
        - release

map-2: &filter_only_master
  filters:
    branches:
      only:
        - master

map-3: &filter_only_release
  filters:
    branches:
      only:
        - release

map-4: &filter_only_develop
  filters:
    branches:
      only:
        - develop

map-5: &filter_only_tag
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v[0-9]+(\.[0-9]+)*$/

map-6: &filter_only_topic
  filters:
    branches:
      ignore:
        - master
        - develop
        - release
    tags:
      ignore: /.*/

# # # # # # # # # # # # # # # #
# - Executors -
# # # # # # # # # # # # # # # #
executors:

  docker-circleci:
    parameters:
      node:
        type: string
        default: "15.4.0"
    working_directory: *working_dir
    docker:
      - image: "circleci/node:<< parameters.node >>-buster-browsers"

# # # # # # # # # # # # # # # #
# - Commands -
# # # # # # # # # # # # # # # #
commands:

  checkout_install:
    steps:
      - checkout
      - run: npm ci

  checkout_install_build_bundle_publish_verdaccio:
    parameters:
      from:
        type: string
      to:
        type: string
      channel:
        type: string
      suffix:
        type: string
        default: ""
      registry:
        type: string
        default: "http://localhost:4873"
    steps:
      - common/configure_git
      - checkout_install
      - run: npm run build:release
      - run: npm run change-tsconfigs:overwrite:umd
      - run: npm run build:release
      - run: npm run change-tsconfigs:restore
      - clean_merge_commit_dist:
          from: << parameters.from >>
          to: << parameters.to >>
          channel: << parameters.channel >>
          suffix: << parameters.suffix >>
      - common/setup_verdaccio
      - run: npm config set registry << parameters.registry >>
      - run: npm run publish:<< parameters.channel >>

  clean_merge_commit_dist:
    parameters:
      from:
        type: string
      to:
        type: string
      channel:
        type: string
      suffix:
        type: string
        default: ""
      message:
        type: string
        default: "chore(all): add latest build artifacts"
      merge_topic:
        type: boolean
        default: true
      bump_version:
        type: boolean
        default: true
    steps:
      - run: set -o pipefail && git add packages/*/dist --force && git status
      - run: set -o pipefail && git stash && git status
      - when:
          condition: << parameters.merge_topic >>
          steps:
            - run: set -o pipefail && git checkout << parameters.from >> && git status
            - run: set -o pipefail && git merge ${CIRCLE_BRANCH}
      - run: set -o pipefail && git checkout << parameters.to >> && git status
      - run: set -o pipefail && git reset --hard origin/<< parameters.to >> && git status
      - run: set -o pipefail && git merge << parameters.from >> --no-ff --no-edit -Xtheirs && git status
      - run: set -o pipefail && rm -rf packages/*/dist && git status
      - run: set -o pipefail && git add . && git status
      - run: set -o pipefail && git checkout stash -- . && git status
      - run: set -o pipefail && git add packages/*/dist --force && git status
      - run: set -o pipefail && npm run change-package-refs:release
      - when:
          condition: << parameters.bump_version >>
          steps:
            - run: set -o pipefail && npm run bump-version:<< parameters.channel >> -- << parameters.suffix >>
      - run: set -o pipefail && git add . && git status
      - run: set -o pipefail && git commit --allow-empty -m "<< parameters.message >>" && git status

# # # # # # # # # # # # # # # #
# - Jobs -
# # # # # # # # # # # # # # # #
jobs:

  unit_test:
    parameters:
      coverage:
        type: boolean
        default: true
      npm_command:
        type: string
        default: "test"
      e:
        type: executor
      submodules:
        type: boolean
        default: false
    executor: << parameters.e >>
    steps:
      - checkout_install
      - run: npm run build
      - when:
          condition: << parameters.submodules >>
          steps:
            - run:
                name: "Pull Submodules"
                command: |
                  git submodule init
                  git submodule update --remote
      - run:
          name: "Run unit tests"
          command: |
            cd packages/__tests__
            npm run << parameters.npm_command >>
      - when:
          condition: << parameters.coverage >>
          steps:
            - run:
                name: "Process coverage for Codecov"
                command: |
                  node_modules/codecov/bin/codecov -f packages/__tests__/coverage/coverage-final.json
                when: always
            - store_test_results:
                path: packages/__tests__/coverage
            - store_artifacts:
                path: packages/__tests__/coverage

  lint_packages:
    executor: docker-circleci
    steps:
      - checkout_install
      # TODO: Remove the " -- -- -- --quiet" once warning numbers are down to an acceptable level.
      - run: npm run lint:packages -- -- -- --quiet --report-unused-disable-directives
      - run: npm run lint:other -- --quiet --report-unused-disable-directives

  merge_and_dist:
    executor: docker-circleci
    parameters:
      from:
        type: string
      to:
        type: string
      channel:
        type: string
      push:
        type: boolean
        default: false
      merge_topic:
        type: boolean
        default: true
      bump_version:
        type: boolean
        default: true
    steps:
      - run: git config --global user.email "aurelia@bluespire.com"
      - run: git config --global user.name "AureliaEffect"
      - run: git config --global core.mergeoptions "--no-edit"
      - checkout_install
      - run: set -o pipefail && npm run build:release
      - run: set -o pipefail && npm run change-tsconfigs:overwrite:umd
      - run: set -o pipefail && npm run build:release
      - run: set -o pipefail && npm run change-tsconfigs:restore
      - clean_merge_commit_dist:
          from: << parameters.from >>
          to: << parameters.to >>
          channel: << parameters.channel >>
          merge_topic: << parameters.merge_topic >>
          bump_version: << parameters.bump_version >>
      - when:
          condition: << parameters.push >>
          steps:
            - run: git push origin << parameters.to >>

  publish_npm:
    executor: docker-circleci
    parameters:
      channel:
        type: string
      branch:
        type: string
      swap:
        type: boolean
        default: false
    steps:
      - checkout
      - when:
          condition: << parameters.swap >>
          steps:
            - run: git checkout << parameters.branch >>
            - run: git pull
      - run: npm ci --ignore-scripts
      - run:
          name: "Authenticate with registry"
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: npm run publish:<< parameters.channel >>

  # Standalone playwright test jobs
  e2e_playwright:
    executor: docker-circleci
    parameters:
      path:
        type: string
      suite:
        type: string
        default: "examples"
      use_verdaccio:
        type: boolean
        default: true
      registry:
        type: string
        default: "http://localhost:4873"
    steps:
      - checkout_install_build_bundle_publish_verdaccio:
          from: ${CIRCLE_BRANCH}
          to: develop
          channel: dev
          suffix: "-${CIRCLE_BUILD_NUM}"
      - run:
          name: "Install playwright"
          command: |
            cd test/playwright
            npm ci
      - when:
          condition: << parameters.use_verdaccio >>
          steps:
            - run:
                name: "Install app via verdaccio"
                command: |
                  cd << parameters.path >>
                  npm i --registry << parameters.registry >>
      - unless:
          condition: << parameters.use_verdaccio >>
          steps:
            - run:
                name: "Install app via npm"
                command: |
                  cd << parameters.path >>
                  npm i
      - run:
          name: "Build test app"
          command: |
            cd << parameters.path >>
            npm run build
      - run:
          name: "Serve playwright test app"
          background: true
          command: |
            cd << parameters.path >>
            npm run serve
      - run:
          name: "Run playwright test"
          command: |
            cd test/playwright
            npm run build
            npm run e2e:<< parameters.suite >>

  # benchmark using playwright setup
  benchmark_playwright:
    executor: docker-circleci
    steps:
      - checkout_install
      - run: npm run build
      - run:
          name: "Prepare cosmos db configuration and run test"
          command: |
            cd test/benchmarking-apps/runner
            echo "{\"endpoint\": \"https://aurelia.documents.azure.com:443/\",\"key\": \"$AZURE_COSMOS_DB_KEY\"}" > cosmos.config.json
            set -o pipefail && node dist/run-benchmarks --i 10 --storage cosmos

# # # # # # # # # # # # # # # #
# - Workflows -
# # # # # # # # # # # # # # # #
workflows:
  # Runs build and tests
  # Triggered by push to master or topic branches
  build_test:
    jobs:
      - unit_test:
          <<: *filter_ignore_develop_release
          name: unit_test_chrome
          e: docker-circleci
          npm_command: "test-chrome"
      - unit_test:
         <<: *filter_ignore_develop_release
         name: unit_test_firefox
         e: docker-circleci
         npm_command: "test-firefox"
         coverage: false
      - unit_test:
         <<: *filter_ignore_develop_release
         name: unit_test_node
         e: docker-circleci
         npm_command: "test-node"
         coverage: false
      #- unit_test:
      #   <<: *filter_ignore_develop_release
      #   name: test_test262
      #   e: docker-circleci
      #   npm_command: "test-262"
      #   coverage: false
      #   submodules: true
      - lint_packages:
          <<: *filter_ignore_develop_release
      - benchmark_playwright:
          <<: *filter_ignore_develop_release
      - e2e_playwright:
          <<: *filter_ignore_develop_release
          name: jit-webpack-conventions-ts
          path: "examples/jit-webpack-conventions-ts"
          requires:
            - lint_packages # not a real requirement but forces long-running jobs to go first
      - e2e_playwright:
          <<: *filter_ignore_develop_release
          name: jit-webpack-vanilla-ts
          path: "examples/jit-webpack-vanilla-ts"
          requires:
            - lint_packages # not a real requirement but forces long-running jobs to go first
      - merge_and_dist:
          <<: *filter_only_master
          name: merge_and_dist_master
          requires:
            - unit_test_chrome
            - unit_test_firefox
            - unit_test_node
            #- test_test262
            - lint_packages
            - jit-webpack-conventions-ts
            - jit-webpack-vanilla-ts
          from: master
          to: develop
          channel: dev
          push: true
          merge_topic: false
      - merge_and_dist:
          <<: *filter_only_topic
          name: merge_and_dist_topic
          requires:
            - unit_test_chrome
            - unit_test_firefox
            - unit_test_node
            - lint_packages
            - jit-webpack-conventions-ts
            - jit-webpack-vanilla-ts
          from: master
          to: develop
          channel: dev
      - publish_npm:
          <<: *filter_only_master
          channel: dev
          branch: develop
          swap: true
          requires:
            - merge_and_dist_master

  # Runs build and tests, and pushes the built artifacts to the release branch (which then triggers publish_latest)
  # Triggered by push to tag
  build_test_push_release:
    jobs:
      - unit_test:
          <<: *filter_only_tag
          name: unit_test_chrome
          e: docker-circleci
          npm_command: "test-chrome:verbose"
      - unit_test:
         <<: *filter_only_tag
         name: unit_test_firefox
         e: docker-circleci
         npm_command: "test-firefox:verbose"
         coverage: false
      - unit_test:
         <<: *filter_only_tag
         name: unit_test_node
         e: docker-circleci
         npm_command: "test-node:verbose"
         coverage: false
      #- unit_test:
      #   <<: *filter_only_tag
      #   name: test_test262
      #   e: docker-circleci
      #   npm_command: "test-262"
      #   coverage: false
      #   submodules: true
      - lint_packages:
          <<: *filter_only_tag
      - merge_and_dist:
          <<: *filter_only_tag
          requires:
            - unit_test_chrome
            - unit_test_firefox
            - unit_test_node
            #- test_test262
            - lint_packages
          from: $CIRCLE_TAG
          to: release
          channel: latest
          push: true
          merge_topic: false
          bump_version: false

  # Asks for manual approval and then publishes from the release branch to npm@latest
  # Triggered by push to release branch
  publish_latest:
    jobs:
      # artifacts are already prepared and committed by the tag workflow, so only approval + publish remains
      - request_publish_latest:
          <<: *filter_only_release
          type: approval
      - publish_npm:
          <<: *filter_only_release
          channel: latest
          branch: release
          requires:
            - request_publish_latest

