# Defaults for all jobs

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: aureliaeffect/circleci-v2:latest

# Variables
var_1: &cache_key aurelia-{{ .Branch }}-{{ checksum "package-lock.json" }}

version: 2
jobs:
  install:
    <<: *defaults
    steps:
      - run:
          name: "Show npm and node versions"
          command: |
            node --version
            npm --version
      - checkout
      - run: npm ci -dd
      - save_cache:
          key: *cache_key
          paths:
            - node_modules

  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: *cache_key
      - run: npm run bootstrap
      - run: npm run build
      - persist_to_workspace:
          root: .
          paths: packages/*/dist
          paths: packages/*/node_modules

  unit_tests:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: *cache_key
      #- run:
      #    command: "./node_modules/.bin/karma start --browsers=FirefoxHeadless --single-run=true --auto-watch=false"
      #    environment:
      #      TS_NODE_PROJECT: tsconfig.json
      - run:
          command: "npm run test"
          environment:
            JUNIT_REPORT_PATH: ./junit/
            JUNIT_REPORT_NAME: test-results.xml
            TS_NODE_PROJECT: ./scripts/tsconfig.json
            CC_TEST_REPORTER_ID: asdf
      - run:
          name: Process coverage results for Code Climate
          command: |
            mkdir ~/repo/code-climate
            ~/cc-test-reporter format-coverage ~/repo/packages/debug/coverage/lcov.info -t lcov -o ~/repo/code-climate/coverage-debug.json
            ~/cc-test-reporter format-coverage ~/repo/packages/jit/coverage/lcov.info -t lcov -o ~/repo/code-climate/coverage-jit.json
            ~/cc-test-reporter format-coverage ~/repo/packages/kernel/coverage/lcov.info -t lcov -o ~/repo/code-climate/coverage-kernel.json
            ~/cc-test-reporter format-coverage ~/repo/packages/runtime/coverage/lcov.info -t lcov -o ~/repo/code-climate/coverage-runtime.json
            ~/cc-test-reporter format-coverage ~/repo/packages/plugin-requirejs/coverage/lcov.info -t lcov -o ~/repo/code-climate/coverage-plugin-requirejs.json
            ~/cc-test-reporter format-coverage ~/repo/packages/plugin-svg/coverage/lcov.info -t lcov -o ~/repo/code-climate/coverage-plugin-svg.json
            ~/cc-test-reporter sum-coverage ~/repo/code-climate/coverage-*.json -p 6 -o ~/repo/coverage-combined.json
            # ~/cc-test-reporter upload-coverage -i ~/repo/coverage-combined.json
      - run:
          name: Process coverage for Codecov
          command: |
            codecov -f ~/repo/packages/debug/coverage/coverage-final.json
            codecov -f ~/repo/packages/jit/coverage/coverage-final.json
            codecov -f ~/repo/packages/kernel/coverage/coverage-final.json
            codecov -f ~/repo/packages/runtime/coverage/coverage-final.json
            codecov -f ~/repo/packages/plugin-requirejs/coverage/coverage-final.json
            codecov -f ~/repo/packages/plugin-svg/coverage/coverage-final.json
      - store_test_results:
          path: ./packages/debug/junit
      - store_test_results:
          path: ./packages/jit/junit
      - store_test_results:
          path: ./packages/kernel/junit
      - store_test_results:
          path: ./packages/runtime/junit
      - store_test_results:
          path: ./packages/plugin-requirejs/junit
      - store_test_results:
          path: ./packages/plugin-svg/junit
      - store_artifacts:
          path: ./packages/debug/junit
      - store_artifacts:
          path: ./packages/jit/junit
      - store_artifacts:
          path: ./packages/kernel/junit
      - store_artifacts:
          path: ./packages/runtime/junit
      - store_artifacts:
          path: ./packages/plugin-requirejs/junit
      - store_artifacts:
          path: ./packages/plugin-svg/junit
      - store_artifacts:
          path: ./packages/debug/coverage
      - store_artifacts:
          path: ./packages/jit/coverage
      - store_artifacts:
          path: ./packages/kernel/coverage
      - store_artifacts:
          path: ./packages/runtime/coverage
      - store_artifacts:
          path: ./packages/plugin-requirejs/coverage
      - store_artifacts:
          path: ./packages/plugin-svg/coverage

  #e2e_tests:
  #  <<: *defaults
  #  steps:
  #    - checkout
  #    - restore_cache:
  #        key: *cache_key
  #    - attach_workspace:
  #        at: .
  #    - run:
  #        name: Selenium Start
  #        background: true
  #        command: webdriver-manager start
  #    - run:
  #        name: App Start
  #        background: true
  #        command: http-server -c-1 -p 8000 .
  #    - run:
  #        command: "protractor protractor.conf.js"

workflows:
    version: 2
    default_workflow:
        jobs:
            - install
            - build:
                requires:
                    - install
            - unit_tests:
                requires:
                    - install
            #- e2e_tests:
            #    requires:
            #        - build

