:host {
  --primary-bgcolor: white;
  --primary-textcolor: #37352F;
  --secondary-bgcolor: #182026;
  --secondary-bgcolor-darken: #10161A;
  --secondary-textcolor: #F5F8FA;
  --secondary-textcolor-darken: #5C7080;
  --left-sidebar-width: 182px;
  --font-family: Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --topbar-height: 45px;

  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1 1 0%;

  background-color: var(--primary-bgcolor);
  color: var(--primary-textcolor);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-size: 1rem;
  text-align: left;
}

left-sidebar {
  flex: 0 0 var(--left-sidebar-width);
}

.main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - var(--left-sidebar-width));
}

.topbar {
  flex: 0 1 var(--topbar-height);
  display: flex;
}

.body {
  flex: 1 1 100%;
  display: flex;
  max-height: calc(100% - var(--topbar-height));
}
