<label for="browser-selection">Browser</label>
<select value.bind="activeBrowser" id="browser-selection">
  <option if.bind="showAverage" model.bind="undefined">Average</option>
  <option repeat.for="browser of browsers" model.bind="browser">
    ${browser.name} v${browser.version}
  </option>
</select>

<let mode.bind="'small-multiples'" dataset.bind="activeBrowser ? getActiveBrowserDataset() : avgDataset"></let>

<label for="stack-mode">
  <input id="stack-mode" type="radio" name="mode" model.bind="'stack'" checked.bind="mode"> Stacked bars
</label>
<label for="sm-mode">
  <input id="sm-mode" type="radio" name="mode" model.bind="'small-multiples'" checked.bind="mode"> Small multiples
</label>


<template switch.bind="mode">
  <stacked-bars case="stack" dataset.bind measurement-identifier.bind total-duration-fn.bind></stacked-bars>
  <small-multiples case="small-multiples" dataset.bind measurement-identifier.bind></small-multiples>
</template>
