<details>
  <summary>Benchmarking process</summary>
  <small>
    <p>
      The benchmarking process tries to replicate the frequent scenarios likely to take place in a real-life application.
      It involves, populating a multi-column data grid with a bunch of data, and thereafter perform a series of operations
      on the data, and measure time for each of those.
      Our choice of data is simply a set of person-data, with first name, last name, date of birth, employment status,
      address details etc.
    </p>
    <p>
      Even though most of these measurements are self explanatory, here is a brief description.
    <ol>
      <li>
        <strong>Initial load:</strong>
        <span>The time taken to load the app. Sometimes the app is loaded with blank data grid, and other times it is
          loaded with a pre-populated dataset.</span>
      </li>

      <li>
        <strong>Populate grid:</strong>
        <span>The time taken to populate the data grid. This measurement is absent if the app is not loaded with blank
          data grid.</span>
      </li>

      <li>
        <strong>Update:</strong>
        <span>The time taken to update a single property for every 10th item on the grid.</span>
      </li>

      <li>
        <strong>Conditional:</strong>
        <span>The average time taken to show a set of details (read HTML Elements), followed by hiding the same set of
          details.</span>
      </li>

      <li>
        <strong>Textual update:</strong>
        <span>The average time taken to update a set of textual elements based on change of locale, and then reverting the
          locale back to its old value.</span>
      </li>

      <li>
        <strong>Sort:</strong>
        <span>The average time taken to sort the data grid in ascending order, followed by descending order for all
          sortable columns. For context, this was done for first name, last name, and date of birth property. </span>
      </li>

      <li>
        <strong>Filter:</strong>
        <span>The average time taken to apply two sets of filter criteria that shows two mutually exclusive sets of data, followed by
          removing the filter. For context, the employment status attribute is used.</span>
      </li>

      <li>
        <strong>Select first row:</strong>
        <span>The time taken to select the first row and visually mark that using (conditional) CSS styles.</span>
      </li>

      <li>
        <strong>Delete first row:</strong>
        <span>The time taken to delete the first row.</span>
      </li>

      <li>
        <strong>Delete all:</strong>
        <span>The time taken to empty the data grid by deleting all rows.</span>
      </li>

    </ol>
    </p>
  </small>
</details>
<div class="container">
  <div class="input">
    <label for="browser-selection">Browser</label>
    <select value.bind="activeBrowser" id="browser-selection" style="--image-url:url(${caretDownData})">
      <option if.bind="showAverage" model.bind="undefined">Average</option>
      <option repeat.for="browser of browsers" model.bind="browser">
        ${browser.name} v${browser.version}
      </option>
    </select>
  </div>

  <div class="input">
    <let mode.bind="'small-multiples'" dataset.bind="activeBrowser ? getActiveBrowserDataset() : avgDataset"></let>
    <label for="browser-selection">Visualization</label>
    <div>
      <label for="stack-mode" class="radio-label">
        <input id="stack-mode" type="radio" name="mode" model.bind="'stack'" checked.bind="mode">
        <span>Stacked bars</span>
      </label>
      <label for="sm-mode" class="radio-label">
        <input id="sm-mode" type="radio" name="mode" model.bind="'small-multiples'" checked.bind="mode">
        <span>Small multiples</span>
      </label>
    </div>
  </div>
</div>

<template switch.bind="mode">
  <stacked-bars case="stack" dataset.bind measurement-identifier.bind total-duration-fn.bind></stacked-bars>
  <small-multiples case="small-multiples" dataset.bind measurement-identifier.bind></small-multiples>
</template>
