.container {
  border: 1px solid rgba(153, 0, 0, 0.9);
  background-color: rgba(153, 0, 0, 0.2);
  margin: 0.5rem 0;
  padding: 0.25rem;
  color: rgba(153, 0, 0, 1);
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: nowrap;
}

.commit {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.gutter {
  flex: 1;
}

.close {
  cursor: pointer;
}
