:host {
  display: flex;
  flex-flow: column nowrap;

  background-color: var(--secondary-bgcolor);
  color: var(--secondary-textcolor);

  user-select: none;
}

a {
  display: flex;
  padding: 8px 20px;
  font-weight: bold;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 14px;
  outline: 0;
  text-decoration: none;

  color: var(--secondary-textcolor-darken);
}

a.active,
a:hover {
  background-color: var(--secondary-bgcolor-darken);
  color: var(--secondary-textcolor);
}
