nav {
  background: #eee;
  display: flex;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: darkgray;
}

.load-active {
  background-color: lightgray;
}
