
:host {
  --border-color: #dee2e6;
  width: 100%;
}

*, ::after, ::before {
  box-sizing: border-box;
}

table {
  table-layout: fixed;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  white-space: nowrap;
}

td, th {
  padding: .3rem;
  border-top: 1px solid var(--border-color);

  overflow: hidden;
  text-overflow: ellipsis;
}

thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--border-color);
}

thead>tr>th {
  max-width: 3.5rem;
}
thead>tr>th:nth-child(1) {
  max-width: 12rem;
}



h2 {
  margin-left: 0.3rem;
}
