a {
  background-color: #ccc;
  margin: 0;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}
a:hover {
  background-color: #eee;
}
a.active {
  background-color: gold;
}

au-viewport {
  display: grid;
}
au-viewport > * {
  display: block;
  position: relative;
  grid-column: 1;
  grid-row: 1;
}
