name: main
on:
  push:
    # check against refs/heads
    branches-ignore:
      - *
      # - develop
      # - release
    paths-ignore:
      - 'docs/**'

env:
  PREFERRED_WORKSPACE_MANAGER: yarn # for lage to work property

jobs:

  # Too slow on GH action
  # Disable for now
  #######################
  # lint:
  #   timeout-minutes: 15
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v1
  #       with:
  #         node-version: 15
  #     - run: npm ci
  #     - run: npm run build
  #     - run: npm run lint:packages:ci
  #     - run: npm run lint:other:ci

  # Only turn on if necessary per branch
  #
  # node:
  #   timeout-minutes: 10
  #   strategy:
  #     matrix:
  #       suite: [
  #         "kernel",
  #         "runtime",
  #         "runtime-html",
  #         "router",
  #         "router-lite",
  #         "i18n",
  #         "validation",
  #       ]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v1
  #       with:
  #         node-version: 15
  #     - run: npm ci
  #     - run: npm run rollup
  #     - run: npm run test-node:${{matrix.suite}}
  #       working-directory: packages/__tests__

  # test-packages-tooling:
  #   timeout-minutes: 10
  #   strategy:
  #     matrix:
  #       suite: [
  #         "aot",
  #         "babel-jest",
  #         "plugin-conventions",
  #         "plugin-gulp",
  #         "ts-jest",
  #         "webpack-loader",
  #       ]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: actions/setup-node@v1
  #       with:
  #         node-version: 15
  #     - run: npm ci
  #     - run: npm run build
  #     - run: npm run change-tsconfigs:invert
  #     - run: npm run build
  #     - run: npm run change-tsconfigs:restore
  #     - run: npm run change-package-refs:release -- commonjs
  #     - run: npm run test-node:${{matrix.suite}}
  #       working-directory: packages-tooling/__tests__

  router-e2e:
    runs-on: ubuntu-latest
    container:
      image: "circleci/node:16.3.0-buster-browsers"
      options: --user 1001
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build
        name: build all packages
      - run: npm run test:ci
        name: build e2e projects
        working-directory: packages/__e2e__/router-configured-basic

  packages:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    container:
      image: "circleci/node:15.4.0-buster-browsers"
      options: --user 1001
    strategy:
      matrix:
        browser: ["chrome", "firefox"]
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build:test
      - run: npm run test-${{matrix.browser}}
        working-directory: packages/__tests__

  packages-in-node:
    name: packages (node)
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - run: npm ci
      - run: npm run build:test
      - run: npm run test-node
        working-directory: packages/__tests__

  packages-tooling:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - run: npm ci
      - run: npm run build
      - run: npm run change-tsconfigs:invert
      - run: npm run build
      - run: npm run change-tsconfigs:restore
      - run: npm run change-package-refs:release -- commonjs
      - run: npm run test-node
        working-directory: packages-tooling/__tests__

  example-apps:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    container:
      image: "circleci/node:15.4.0-buster-browsers"
      options: --user 1001
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run build
      - name: Helloworld size check
        run: npm run build
        working-directory: examples/helloworld
      - name: Inferno 1kcomponents perf + svg build check
        run: npm run build
        working-directory: examples/1kcomponents
      - name: Fractals tree perf + svg build check
        run: npm run build
        working-directory: examples/fractals-tree
      - name: Sierpinski triangle build check
        run: npm run build
        working-directory: examples/sierpinski-triangle

  # # benchmark using playwright setup

  # benchmark-playwright:
  #   timeout-minutes: 35
  #   runs-on: ubuntu-latest
  #   container:
  #     image: "circleci/node:15.4.0-buster-browsers"
  #     options: --user 1001
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: install and build the current branch
  #       run: |
  #         npm ci
  #         npm run build
  #     - name: run test for the current branch
  #       run: |
  #         cd test/benchmarking-apps/runner
  #         node dist/run-benchmarks --i 2 --storage json
  #     - uses: actions/checkout@v2
  #       with:
  #         ref: master
  #     - name: install and build the master branch
  #       run: |
  #         npm ci
  #         npm run build
  #     - name: Run test for the master branch
  #       # TODO(Sayan): remove the duplication of config, which was done for backward compatibility, and can be removed once PR #1094 is merged with master.
  #       run: |
  #         cd test/benchmarking-apps/runner
  #         node dist/run-benchmarks --i 2 --storage json