name: main
on:
  push:
  #   # check against refs/heads
    branches:
      - master
      # - develop
      # - release
  #   # paths-ignore:
  #   #   - 'docs/**'
    paths:
      - 'packages/kernel/**'
      - 'packages/runtime/**'
      - 'packages/runtime-html/**'

jobs:
  # If you'd like a message to appear in existing results comment that the
  # benchmarks are current running and the shown results are out of date, run a
  # job before the benchmarks with the initialize option set to true.
  setup:
    name: Setup Tachometer Reporting
    runs-on: ubuntu-latest
    steps:
      - name: Initialize tachometer comment
        uses: andrewiggins/tachometer-reporter-action@v2
        with:
          initialize: true

  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Cache node modules
        id: cache_npm
        uses: actions/cache@v3
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: node_modules
          key: node_modules-${{ hashFiles('**/package-lock.json') }}

      - if: ${{ steps.cache_npm.outputs.cache-hit != 'true' }}
        name: installing deps
        run: npm install

      - name: Cache build output
        id: cache_build
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-build-dist-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-build-dist-
          path: |
            packages/__tests__/dist
            packages/addons/dist
            packages/aurelia/dist
            packages/compat-v1/dist
            packages/dialog/dist
            packages/fetch-client/dist
            packages/i18n/dist
            packages/kernel/dist
            packages/metadata/dist
            packages/platform/dist
            packages/platform-browser/dist
            packages/route-recognizer/dist
            packages/router-direct/dist
            packages/router/dist
            packages/runtime/dist
            packages/runtime-html/dist
            packages/state/dist
            packages/store-v1/dist
            packages/testing/dist
            packages/ui-virtualization/dist
            packages/validation/dist
            packages/validation-html/dist
            packages/validation-i18n/dist
            packages/web-components/dist
            packages-tooling/__tests__/dist
            packages-tooling/au/dist
            packages-tooling/babel-jest/dist
            packages-tooling/http-server/dist
            packages-tooling/parcel-transformer/dist
            packages-tooling/plugin-conventions/dist
            packages-tooling/plugin-gulp/dist
            packages-tooling/ts-jest/dist
            packages-tooling/webpack-loader/dist

  bench_startup:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      # - name: Restore cached node modules
      #   id: restore-cache-npm
      #   uses: actions/cache@v3
      #   with:
      #     # npm cache files are stored in `~/.npm` on Linux/macOS
      #     path: node_modules
      #     key: ${{ runner.os }}-build-deps-${{ hashFiles('**/package-lock.json') }}
      #     restore-keys: |
      #       ${{ runner.os }}-build-deps-

      # - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
      #   name: Missing deps, reinstalling the state of node modules
      #   run: npm install

      #   run: npm list
      # - name: Build
      #   run: npm build

      - run: npm ci
      - run: npm run build:release
      # Run benchmarks. Ensure each job's results file has a unique name
      - name: Run tachometer startup bench
        run: |
          npm run build
          npm run bench:startup1k
        working-directory: benchmarks

      # Upload this benchmarks results
      - uses: actions/upload-artifact@v4
        with:
          name: results
          path: results/startup-1k.json

  bench_compiler:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      # - name: Restore cached node modules
      #   id: restore-cache-npm
      #   uses: actions/cache@v3
      #   with:
      #     # npm cache files are stored in `~/.npm` on Linux/macOS
      #     path: node_modules
      #     key: ${{ runner.os }}-build-deps-${{ hashFiles('**/package-lock.json') }}
      #     restore-keys: |
      #       ${{ runner.os }}-build-deps-

      # - if: ${{ steps.cache-npm.outputs.cache-hit != 'true' }}
      #   name: Missing deps, reinstalling the state of node modules
      #   run: npm install

      #   run: npm list
      # - name: Build
      #   run: npm build

      - run: npm ci
      - run: npm run build:release
      # Run benchmarks. Ensure each job's results file has a unique name
      - name: Run tachometer startup bench
        run: |
          npm run build
          npm run bench:startup1k-big
        working-directory: benchmarks

      # Upload this benchmarks results
      - uses: actions/upload-artifact@v4
        with:
          name: results
          path: results/repeat-view-startup-1k-big-template.json

  bench_rerender:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm ci
      - run: npm run build:release
      # Run benchmarks. Ensure each job's results file has a unique name
      - name: Run tachometer startup bench
        run: |
          npm run build
          npm run bench:rerender1k
        working-directory: benchmarks

      # Upload this benchmarks results
      - uses: actions/upload-artifact@v4
        with:
          name: results
          path: results/rerender-1k.json

  bench_update:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm ci
      - run: npm run build:release
      # Run benchmarks. Ensure each job's results file has a unique name
      - name: Run tachometer startup bench
        run: |
          npm run build
          npm run bench:update1k
        working-directory: benchmarks

      # Upload this benchmarks results
      - uses: actions/upload-artifact@v4
        with:
          name: results
          path: results/update-1k.json

  report_results:
    name: Report Results
    needs: [bench_startup, bench_rerender, bench_update]
    runs-on: ubuntu-latest
    steps:
      # Download the results artifact
      - uses: actions/download-artifact@v4
        with:
          name: results
          path: results

      # Read all the results and post comment
      - name: Report Tachometer Result
        uses: andrewiggins/tachometer-reporter-action@v2
        with:
          path: results/*.json
